@page
@model Shopping.Web.Pages.InventoryModel
@{
    ViewData["Title"] = "Inventory";
}

<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="Index">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Inventory items</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
@* <h1>Inventory</h1> *@

<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <a asp-page="Create" class="btn btn-success">Add new item</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Active</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Price</td>
                                <td>@item.Quantity</td>
                                <td>@item.IsActive</td>
                                <td>
                                    <button class="btn btn-primary" data-toggle="modal" data-target="#updateInventoryItemModal" data-id="@item.Id" data-quantity="@item.Quantity" data-isactive="@item.IsActive">Edit</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Partial for Update Item Modal -->
<partial name="_UpdateInventoryItemModal" model="Model.Product" />

@section Scripts {
    <script>
        $(document).ready(function () {

            $('#updateInventoryItemModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var id = button.data('id');
                var quantity = button.data('quantity');
                var isActive = button.data('isactive');

                var modal = $(this);
                modal.find('input[name="Product.Id"]').val(id);
                modal.find('input[name="Product.Quantity"]').val(quantity);
                modal.find('select[name="Product.IsActive"]').val(isActive);
            });
        });

    </script>
}